%br
%h2
  You're using a browser that is not supported.
%br
%br
%p
  = "We recommend using a modern browser such as #{link_to "Mozilla Firefox", "http://www.mozilla.com/", :popup => :true}, #{link_to "Google Chrome", "http://www.google.com/chrome", :popup => :true} or #{link_to "Safari", "http://www.apple.com/safari/", :popup => :true}."