#content.container_12
  #midmap.grid_8
    = render :partial => 'maps/map'
  #twitter.grid_4
    twitter
  .clear
  #news.grid_4
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smalladd.png", :border => "0" }
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smallrss.png", :border => "0" }
    %h1
      news
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #events.grid_4
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smalladd.png", :border => "0" }
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smallrss.png", :border => "0" }
    %h1
      event
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #promos.grid_4
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smalladd.png", :border => "0" }
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smallrss.png", :border => "0" }
    %h1
      promos
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  .clear
  #network.grid_4
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smalladd.png", :border => "0" }
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smallrss.png", :border => "0" }
    %h1
      network
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #stuff.grid_4
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smalladd.png", :border => "0" }
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smallrss.png", :border => "0" }
    %h1
      stuff
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  .grid_4
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smalladd.png", :border => "0" }
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smallrss.png", :border => "0" }
    %h1
      fix it
    #fixit.infoblock
      %h2
        headline
      %h2
        headline
      %h5
        more>>
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smalladd.png", :border => "0" }
    %a{ :href => "#" }
      %img.buttonfloat{ :src => "images/smallrss.png", :border => "0" }
    %h1
      better
    .infoblock
      %h2
        headline
      %h2
        headline
      %h5
        more>>
