coverage
capybara-*.html
rerun.txt
.DS_Store
config/database.yml
log/*.log
public/user_details
public/system
*.swp
public/assets
mkmf.log
log/twitterbug.rb.pid
log/twitterbug.rb_monitor.pid
nbproject
.loadpath
.project
vendor/plugins/acts_as_xapian/xapiandbs/*
