- @map = generate_gmap( @default_map )
= @map.to_html
= @map.div( :class => "map" )
#sidebar{ :style => "float:left; width: 116px; height: 399px; border: 3px solid #d3d3d3; border-left: none; color: #27311c;" }
  - @default_map.map_layers.each do |layer|
    %input#railCheckbox{ :type => "checkbox", :onclick => "#{ layer.shortname }.activate( this.checked )", :CHECKED => true }
    = layer.title
