- map = generate_gmap( @default_map )
= map.to_html
= map.div( :class => "map" )
#sidebar{ :style => "float:left; width: 11  0px; height: 380px; border: none; border-left: 3px solid #fff; color: #27311c;" }
  = render :partial => "maps/sidebar", :locals => { :default_map => @default_map }