- map = generate_poi_gmap( @poi )
= map.to_html
= map.div( :class => "poi_map" )
#sidebar{ :style => "float:left; width: 110px; height: 380px; border: none; border-left: 3px solid #fff; color: #27311c;" }
  = render :partial => "maps/sidebar", :locals => { :default_map => @default_map }