/*======================
       STRUCTURE
=====================*/
body{ background-image:url('../images/BGgrad.jpg');background-repeat:repeat-x; background-color:#eef4ec;font-family:Arial, Helvetica, sans-serif; font-size: 1em; }
#wrapper {width:960px; margin-left:auto; margin-right:auto;}
#smallmap {height:300px;background-color:#fff;}
#midmap {height:400px; background-color:#fff;}
#bigmap {height:500px;background-color:#fff;}

/*======================
       960Add On
=====================*/
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12 {margin-top:10px;margin-bottom:10px;}

/*======================
       INFO BOXES
=====================*/
.infoblock {width:280px; background-color:#fff; padding-left:10px; padding-right:10px; padding-bottom:5px; padding-top:5px;}
#news{border-bottom: 5px solid #d2c76b;}
#events{border-bottom: 5px solid #4e8fb5;}
#promos{border-bottom: 5px solid #b05858;}
#stuff{border-bottom: 5px solid #79ab75;}
#network{border-bottom: 5px solid #b07b3d;}
#fixit{margin-bottom:5px;}
.buttonfloat {float:right; padding-left:2px;padding-top:5px;}

/*======================
       PROFILE
=====================*/
#userpicture{}
#userinfo{background-color:#fff;}
#userstops{}

/*======================
         INFO
=====================*/
#spotlight{height:200px;}
#headlines{}

/*======================
         TYPE
=====================*/
h1{font-size:1.8em; font-weight:bold; color:#27311c; padding-left:2px;}
h2{font-size:1.1em; font-weight:bold; line-height:1.5em; }
h3{font-size: 1.5em;padding-top:72px;padding-left:22px;}
h4{}
h5{font-size:.8em; font-weight:bold; color:#27311c; text-align: right;}
p{font-size:.9em;}
a:link {text-decoration:none;color:#adbbb1;}
a:active {text-decoration:none;}
a:visited {text-decoration:none;color:#adbbb1;}
a:hover {text-decoration:none; color:#7e8781;}


/*======================
      NAVIGATION
=====================*/
#navigation { position: relative; }
#navigation ul { text-align: right; font-family: Arial, Helvetica, sans-serif; list-style: none; padding: 0; margin: 0; }
#navigation li { display: inline; font-size: 1em; padding-top: 0px; font-weight: bold; padding-left: 1em; margin: 0; }
#navigation a:link {}
#navigation a:active {}
#navigation a:visited {}
#navigation a:hover {}
#navigation ul li span { color: #27311c; }
#searchbar { float: right; }

/*======================
         FOOTER
=====================*/
#footer {background-color:#fff; }
#footer ul {float: right;font-family:Arial, Helvetica, sans-serif;list-style: none; padding: 0; margin: 0;}
#footer li {font-size: .9em;padding-top:10px;float:right; font-weight:bold;padding-left:1.5em;}






.sidebar-entry {text-decoration:none; border:1px solid silver;}
a.sidebar-entry {color:#000; text-decoration: none; margin-left:20px}
a.sidebar-entry:hover {background-color:#eee; text-decoration: none}
a.sidebar-entry:focus {background-color:#ccf; text-decoration: none}
.sidebar-cat-header {background-color:#eee; margin:1px; font-weight:bold;}
.hilight-cat-header {background-color:#ccf;}
.iw-header {background-color:#eee;font-weight:bold}
.iw-directions {display: block; margin-top:20px; width:80px}
#sidebar {height:200px; overflow:auto}


/*======================
         ADMIN
=====================*/
#adminnavigation { float: right; }
ul#adminnavigation { font-family: Arial, Helvetica, sans-serif; list-style: none; padding: 0; margin: 0; }
#adminnavigation ul li { font-size: 1em; font-weight: bold; padding-left: 1em; }
#admin a:link {}
#admin a:active {}
#admin a:visited {}
#admin a:hover {}


/*======================
         forms
=====================*/
fieldset#fancyform { background-color: #fff; border: 4px solid #d3d3d3; padding: 10px; }
fieldset#fancyform legend { color: rgb(39, 49, 28); font-size: 1.4em; font-weight: bold; }
#fancyform label { font-size: 0.9em; }


/*======================
         ERROR MESSAGES
=====================*/
.errorExplanation { background-color: #BA5246; color: #fff; }
.errorExplanation ul { list-style-type: none; text-align: center; }
.LV_validation_message { font-size: 0.9em; }
.LV_valid { color: #B1C55E; }
.LV_invalid { color: #BA5246; }