/*======================
       STRUCTURE
=====================*/
body{ background-image:url('../images/BGgrad.jpg');background-repeat:repeat-x; background-color:#eef4ec;font-family:Arial, Helvetica, sans-serif; font-size: 1em; }
#content {margin-top: 0px;}
#wrapper {width:960px; margin-left:auto; margin-right:auto;}
#twitter {margin-top: 0px;}
#smallmap {height:300px;background-color:#fff;margin-top: 0px;}
#midmap {height:380px; padding-top:10px; background-color:#fff;margin-top: 0px;box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc;}
#profmap { margin-left:0; margin-right:0; height:380px; padding-top:10px; background-color:#fff;margin-top: 0px;box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc;}
#bigmap {height:409px;padding-top:10px; background-color:#fff;margin-top: 0px;box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc;}
.map { float:left; width: 790px; height: 370px; border: none; margin-left:10px;}
.poi_map { float:left; width: 790px;margin-left:10px; height: 399px; border: none; }
#content-spotlight-map {width: 600px; height: 360px; padding-top:10px; margin-left:auto; margin-right:auto;}
#mini-twtr-feed { height: 43px; padding: 10px; background-color: #fff; box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc; }
.tweet_list { font-size: 0.8em; }
.loading { padding-top: 15px; padding-bottom: 15px; }
.tweet_even { padding-top: 15px; padding-bottom: 15px; }
.tweet_odd { padding-top: 15px; padding-bottom: 15px; }
#query { width: 250px; }

/*======================
       POST PAGE
=====================*/
#posts #post h1 {padding-left:0px; line-height:1.5em;}
#posts #post p { padding-left:5px;font-size:.8em; line-height:1.4em;}
#posts #midmap {height:380px; padding-top:10px;}
#posts #post {margin:20px 0 20px 0; padding-bottom:10px; min-height:300px; background-color:#fff;box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc;}
#posts #post #article {width:500px; margin-left:auto; margin-right:auto; padding-top:10px;border-bottom: 1px solid #f2b46b; padding-bottom:10px;}
#posts #post #comments { font-size: .8em;width:500px; margin-left:auto; margin-right:auto; padding-top:10px}
#comments span {padding:0 0 0 5px;text-align: left;font-size:1.1em; font-weight:bold; color:#ccc;}
#comments .comment {  -moz-border-radius: 10px; -webkit-border-radius: 10px; background-color:#dce3da;float:left;width:400px; min-height:40px;margin-top:10px; padding:10px; margin-left:5px}
#comments .userimage{float:left;margin-left:10px;margin-top:10px; border:1px solid #ccc;padding:0; height:50px;width:50px;margin-bottom:10px;}
#storyside #mostread  {margin-top:10px;}
#storyside #mostread .infoblock {height:250px;}
#posts #post .articleimage { margin:10px 0 10px 0; padding:10px; height:300px;width:480px; background-color:#fff;}


/*======================
       POST CONTENT
=====================*/
#postcontent {}
#postcontentmap { width: 260px; height: 260px; border: 3px solid #d3d3d3; }
#smc { top: 28px !important; }
.news_body { width: 340px; height: 200px; }
.events_body { width: 340px; height: 200px; }
.networks_body { width: 340px; height: 200px; }
.stuffs_body { width: 340px; height: 200px; }
.fix_its_body { width: 340px; height: 200px; }

/*======================
       FEED
=====================*/

#feed #listitem {margin:0px 10px 20px 10px;background-color:#fff; padding:10px; padding-bottom:15px;height:;box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc;}
#feed .buttonfloat {padding-bottom:15px; margin-right:10px;}
#feed h1 {font-size:1.9em; font-weight:bold; color:#27311c; padding-left:15px; padding-top:30px; line-height: .2em;}
#feed h2{padding:10px 10px 5px 10px;}
#feed p{padding: 0 15px 3px 25px;}

/*======================
       960Add On
=====================*/
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12 {margin-top:10px;margin-bottom:10px;}
.almega{margin-left:0;margin-right:0;}

/*======================
       INFO BOXES
=====================*/
.infoblock {width:280px; background-color:#fff; padding-left:10px; padding-right:10px; padding-bottom:5px; padding-top:5px;height:170px;box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc;}
.infoblock a:link {text-decoration:none;color:#7e8781;}
.infoblock a:active {text-decoration:none;}
.infoblock a:visited {text-decoration:none;color:#7e8781;}
.infoblock a:hover {text-decoration:none; color:#c7dacd;}
#news{border-bottom: 8px solid #f2b46b;}
#events{border-bottom: 8px solid #4e8fb5;}
#promos{border-bottom: 8px solid #b05858;}
#stuff{border-bottom: 8px solid #79ab75;}
#network{border-bottom: 8px solid #b07b3d;}
#fixit{border-bottom: 8px solid #9ac4e3;}
#infohead {float:left;}
.buttonfloat {float:right;padding-top:5px;margin-right:3px;}
.buttonfloatleft {float:left;margin-left:5px;}

/*======================
       PROFILE
=====================*/
#content #usersidbar{height:auto;}
#content #userpicture{height:240px;margin-top:0px;}
#content #userpicture #pic{height:240px; width:200px;background-color:#000;margin:0px 10px 0 10px;}
#content #userabout h1{font-size:1.1em; font-weight:bold; color:#557440; padding:10px; }
#content #userabout{height:auto; min-height:188px; background-color:#fff;padding-bottom: 20px;box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc;}
#content .bigtab{width:185px; background-color:#fff;padding-bottom: 20px; padding-top: 10px;box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc;}
#content .liltab{width:10px;}
#content #userpost{background-color:#fff; padding-top:4px;box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc; min-height: 100px; height:100%;
}
#content #userpost h2 {padding-left:10px; line-height:1.7em; }

/*======================
       PROFILE
=====================*/
#content #page{background-color:#fff;box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc; padding: 20px; }


/*======================
         INFO
=====================*/
#spotlight{height:200px;}
#headlines{}

/*======================
         TYPE
=====================*/
h1{font-size:1.8em; font-weight:bold; color:#27311c; padding-left:2px;}
h2{font-size:1em; font-weight:bold; line-height:1.5em; padding-left:10px; }
h3{font-size: 1em;}
h4{}
h5{font-size:.8em; font-weight:bold; color:#27311c; text-align: right;}
p{font-size:.9em; padding-left:15px;}
a:link {text-decoration:none;color:#adbbb1;}
a:active {text-decoration:none;}
a:visited {text-decoration:none;color:#adbbb1;}
a:hover {text-decoration:none; color:#7e8781;}


/*======================
      NAVIGATION
=====================*/
#logo {height:100px; position: relative; margin-top:0px; }
#navigation {height:100px; position: relative; height:100px;background-image:url('../images/addcontent.png'); background-repeat:no-repeat;background-position: 600px 17px; margin-top:0px;}
#navigation ul {font-family: Arial, Helvetica, sans-serif; list-style: none; padding-right:47px; margin-right:47px; margin: 0;}
#navigation li {float: right; display: inline;font-size: 1em; font-weight: bold; padding-left: 1em; margin: 0; }
#addcontent ul {font-family: Arial, Helvetica, sans-serif; list-style: none; padding: 0; margin: 0; }
#addcontent li{float: left;  padding-right:47px; display: inline; font-size: 1em; font-weight: bold; padding-top:80px;}
#navigation a:link {}
#navigation a:active {}
#navigation a:visited {}
#navigation a:hover {}
#navigation ul li span { color: #27311c; }
.push {padding-right:30px;}
#addzone {float: right; margin-top:0px; margin-right:20px; height:40px; width:80px; }
#searchbar { float: left;margin-top:30px; margin-left:330px; margin-bottom:5px; width:255px; }
#navbar {margin-left:205px; float: left; height:20px; padding-top:2.5px; width:380px; background-color:#543a44; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px;filter: alpha(opacity=80); opacity: .80;}
#navbar ul {float: none;  padding-right:10px; text-align:center;  }
#navbar li{float: none;  padding-right:5px; padding-top:5px; display: inline; font-size: .72em; text-align:center;  }
#navbar a:link {color:#fff;}
#navbar a:active {color:#fff;}
#navbar a:visited {color:#fff;}
#navbar a:hover {color:#c7dacd;}

/*======================
         FOOTER
=====================*/
#footer {}
#footer ul {text-align: right; font-family:Arial, Helvetica, sans-serif;list-style: none; padding: 0; margin: 0;}
#footer li { display: inline; font-size: .9em;padding-top:10px; font-weight:bold;padding-left:1.5em;}


/*======================
        SIDEBAR
=====================*/

.sidebar-entry {text-decoration:none; border:1px solid silver;}
a.sidebar-entry {color:#000; text-decoration: none; margin-left:20px}
a.sidebar-entry:hover {background-color:#eee; text-decoration: none}
a.sidebar-entry:focus {background-color:#ccf; text-decoration: none}
.sidebar-cat-header {background-color:#eee; margin:1px; font-weight:bold;}
.hilight-cat-header {background-color:#ccf;}
.iw-header {background-color:#eee;font-weight:bold}
.iw-directions {display: block; margin-top:20px; width:80px}
#sidebar {height:200px; overflow:auto}


/*======================
         ADMIN
=====================*/
#admin_bar{ border-bottom: 1px solid #adbbb1; }
#adminnavigation { float: right; }
ul#adminnavigation { font-family: Arial, Helvetica, sans-serif; list-style: none; padding: 0; margin: 0; }
ul#adminnavigation li { display: inline; font-size: 1em; padding-top: 0px; font-weight: bold; padding-left: 1em; margin: 0; }
#admin a:link {}
#admin a:active {}
#admin a:visited {}
#admin a:hover {}
#admin_container{ margin: 0px 9px 0px 11px; }
#admin_body{ width: 100%; }
#admin_sidebar{ width: 100px; padding-top: 5px; border-top: 1px solid #adbbb1; border-left: 1px solid #adbbb1; border-right: 5px solid #adbbb1; border-bottom: 5px solid #79AB75; background: #fff; text-align: right; vertical-align: top; }
#admin_sidebar ul { list-style-type: none; }
#admin_sidebar ul li { margin: 0px; padding-right: 10px; }
#admin_sidebar ul li:hover { background: #79AB75; }
#admin_sidebar ul li:hover a { color: white; }
#admin_sidebar ul li:hover a:hover { background: #79AB75; }
.admin_sidebar_selected { background-color: #79AB75; }
.admin_sidebar_selected a { color: #fff; }
#admin_content{ width: 752px; height: 500px; padding: 10px 0px 0px 10px; background: #fff; border-top: 1px solid #adbbb1; border-right: 1px solid #adbbb1; border-left: 0px; border-bottom: 5px solid #79AB75; overflow-y: scroll; }


/*======================
         FORMS
=====================*/
fieldset#fancyform { background-color: #fff; border: 4px solid #d3d3d3; padding: 10px; }
fieldset#fancyform legend { color: rgb(39, 49, 28); font-size: 1.4em; font-weight: bold; }
#fancyform label { font-size: 0.9em; }
label { font-size: 0.9em; }


/*======================
         MESSAGES
=====================*/
.LV_validation_message { font-size: 0.9em; }
.LV_valid { color: #B1C55E; }
.LV_invalid { color: #BA5246; }
#notice {width:600px; box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 3px; text-align: center; background-color:#543a44; margin-left: auto; margin-right: auto; margin-bottom:4px;font-size:.8em; font-weight:bold; color:#fff; alpha(opacity=80); opacity: .80;}

/*======================
         Rails
=====================*/
.fieldWithErrors input { display: inline; border: 2px solid #BA5246; }

.formError { color: #BA5246; }

html {
     overflow-y: -moz-scrollbars-vertical;
     overflow-y: scroll;
}


/*======================
         SLIDING PANEL
=====================*/
.panel { box-shadow:1px -2px 10px #999; -webkit-box-shadow:1px -2px 10px #999; -moz-box-shadow:1px -2px 10px #999;
position: fixed;
top: 110px;
left: 10px;
display: none;
background: #fff;
border:1px solid #111111;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-bottomright: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-bottomleft: 8px;
-webkit-border-bottom-left-radius: 8px;
width: 400px;
height: auto;
padding: 30px 30px 30px 130px;
filter: alpha(opacity=90);
opacity: .90;
z-index: 50000;
}



a.trigger{ box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc;
filter: alpha(opacity=85);
writing-mode: tb-rl;
filter: flipv fliph;
position: fixed;
text-decoration: none;
top: 80px; left: 0;
font-size: 1em;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 10px 10px 10px 10px;
font-weight: 700;
background:#557440;
border:1px solid #444444;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-bottomright: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
z-index: 50001;
}

a.trigger:hover{ box-shadow:1px -2px 10px #ccc; -webkit-box-shadow:1px -2px 10px #ccc; -moz-box-shadow:1px -2px 10px #ccc;
writing-mode: tb-rl;
filter: flipv fliph;
position: fixed;
text-decoration: none;
top: 80px; left: 0;
font-size: 1em;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 10px 10px 10px 15px;
font-weight: 700;
background:#557440;
border:1px solid #444444;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-bottomright: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}

a.active.trigger {
padding: 10px 10px 10px 15px;
background:#557440;

}

em {
line-height:1.1em;
margin-left:auto;
margin-right:auto;
font-size: .8em;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
color:#FFF;
display:block;
font-style:normal;
text-align:center;
}
