#content.container_12
  #userpicture.grid_2.alpha
    #pic
  
  
  #userinfo.grid_7
    
  #userstops.grid_3.omega
  
  .clear
  
  #userpost.grid_3.alpha
  #userpost.grid_3
  #userpost.grid_3    
  #userpost.grid_3.omega
  
  


= debug @user
