#content.container_12
  #bigmap.grid_12.alpha
    MAP
  .clear

  #userpicture.grid_2.alpha
    #pic
  
  
  #userinfo.grid_7
  
  #userstops.grid_3.omega
  
  .clear
  
  #userinterest.grid_4.alpha
    %h2
      interest, interest, interest, interest, interest, interest, interest, interest, interest, interest, interest, interest, interest 
  #userpost.grid_8.omega
  
  


= debug @user
