- remote_form_for :user_detail, @user_detail, :url => { :controller => :user_settings, :action => :update_user_detail }, :html => { :method => :put } do |f|
  = render :partial => "user_details/form", :locals => { :user_detail => @user_detail, :f => f }
  %br
  %br
  = f.submit "Save"