.grid_3
.grid_5
  - form_for :user_session, :url => user_session_path, :html => { :id => 'signindialog' }, :live_validations => true do |f|
    = render :partial => 'user_sessions/form', :locals => { :f => f }
.grid_3